.cart-container {
  background-color: pink;
  width: 500px;
  position: absolute;
  top: 5%;
  right: 0;
  padding: 50px;
  font-size: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    margin-top: 40px;
  }
}
