@import "../../../common.scss";

.cart-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 500px;
  position: absolute;
  right: 0;
  padding: 20px;
  .no-items {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .amount {
    font-size: 15px;
    margin-bottom: 15px;
    span {
      color: $main-green;
    }
  }

  .checkout {
    background-color: $main-red;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
}
