@import "../../common.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  z-index: 1;

  top: 0;
  background-color: white;
  box-shadow: 5px 5px 15px -5px #fde4e4;
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 70px;
    }
  }
  .menu {
    display: flex;
    gap: 50px;
    font-size: 18px;

    @include mobile {
      // flex-direction: column;
      display: none;
    }
  }
  .active {
    color: $main-red;
  }

  .cart-logo {
    position: relative;
  }
  .cart-quantity {
    background-color: $main-green;
    border-radius: 50%;
    padding: 3px;
    font-size: 11px;
    width: 18px;
    text-align: center;
    color: white;
    position: absolute;
    top: 28%;
    // right: 10%;
  }

  .mobile-nav {
    display: none;
    @include mobile {
      font-size: 25px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 85px;
      right: 0;
      background-color: white;
      gap: 70px;
      padding: 100px;
      width: 50%;
      height: 100vh;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }

  .burger-menu {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .burger-cart-container {
    display: flex;
    gap: 8px;
  }
}
